@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b1020;
  --bg2: #0e142a;
  --accent: #7c5cff;
  --accent2: #19c37d;
  --accent3: #00b3ff;
  --text: #e8eefc;
  --muted: #aab6da;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
